.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px ;
    color: white;

}

.nav_logo{
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    font-family: "Kulim Park", sans-serif;
    color: #a9a7ce
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
    gap: 40px;
    color: #be150f

}

.nav-contact{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #fff;
    color: #be150f;
}

